@model ManagePlayersViewModel
@{
    ViewData["Title"] = "Manage Players";
}

<h2>ManagePlayers</h2>

<h3>Club name: @Model.Club.Name</h3>

<br />

<h4>Current Players:</h4>
<table class="table table-striped">
    <thead class="thead-dark">
        <tr>
            <th>
                Player Name
            </th>
            <th>
                Player Position
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (Player player in Model.Club.Players)
        {
            <tr>
                <td>
                    @player.Name
                </td>
                <td>
                    @player.Position
                </td>
                <td>
                    <form asp-action="RemovePlayer" method="post">
                        <input type="hidden" name="clubID" value="@Model.Club.ClubID" />
                        <input type="hidden" name="playerID" value="@player.PlayerID" />
                        <button type="submit" class="btn btn-link far fa-trash-alt">
                            Remove
                        </button>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>
<h4>Available Players:</h4>
<table class="table table-striped">
    <thead class="thead-dark">
        <tr>
            <th>
                Player Name
            </th>
            <th>
                Player Position
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (Player player in Model.AvailablePlayers)
        {
            <tr>
                <td>
                    @player.Name
                </td>
                <td>
                    @player.Position
                </td>
                <td>
                    <form asp-action="AddPlayer" method="post">
                        <input type="hidden" name="clubID" value="@Model.Club.ClubID" />
                        <input type="hidden" name="playerID" value="@player.PlayerID" />
                        <button type="submit" class="btn btn-link fas fa-user-plus">
                            Add
                        </button>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>
