@model Club
@{
    ViewData["Title"] = "Club Details";
}

<h2>Club Details</h2>
<table>
    <tr><td style="font-weight:bold;">Clube name:</td><td>@Model.Name</td></tr>
    <tr><td style="font-weight:bold;">Founded:</td><td>@Model.Foundation.ToShortDateString()</td></tr>
    <tr><td style="font-weight:bold;">Chest:</td><td><img src="@Model.CresteLinkAddress" style="width: 70px;"/></td></tr>
    <tr><td style="font-weight:bold;">City:</td><td>@Model.City</td></tr>
    <tr><td style="font-weight:bold;">Country:</td><td>@Model.Country</td></tr>
</table>

<h4>Players:</h4>

<table class="table table-striped">
    <thead class="thead-dark">
        <tr><th>Player name</th></tr>
    </thead>
    <tbody>
        <tr><td>Arthur Vinícius</td></tr>
        <tr><td>Athila Paixão</td></tr>
        <tr><td>Bernardo Pisetta</td></tr>
        <tr><td>Christian Esmério</td></tr>
        <tr><td>Gedson Santos</td></tr>
        <tr><td>Jorge Eduardo</td></tr>
        <tr><td>Pablo Henrique</td></tr>
        <tr><td>Rykelmo de Souza Viana</td></tr>
        <tr><td>Samuel Thomas Rosa</td></tr>
        <tr><td>Vitor Isaías</td></tr>
        <tr><td>Jhonatan Cruz Ventura</td></tr>
        <tr><td>Francisco Diogo Bento Alves</td></tr>
        <tr><td>Cauan Emanuel Gomes Nunes</td></tr>
    </tbody>
</table>
