@*@model IEnumerable<Product>*@
@model ProductListViewModel
@{
    ViewData["Title"] = "List";
}

@*@foreach (Product product in Model.Products)
    {
        <div>
            <h3>@product.Name</h3>
            <h4>@product.Price.ToString("c")</h4>
        </div>
    }*@
@foreach (Product product in Model.Products)
    {
        @Html.Partial("ProductSummary", product)
    }

@*<div page-model="@Model.PagingInfo" page-action="List"></div>*@
<div page-model="@Model.PagingInfo" page-action="List" page-classes-enabled="true"
     page-class="btn" page-class-normal="btn-secondary"
     page-class-selected="btn-primary" class="btn-group pull-right m-1">
</div>